[D-BUS Service]
Name=org.freedesktop.Tracker1.Miner.Extract
Exec=/bin/false
SystemdService=dbus-org.freedesktop.Tracker1.Miner.Extract.service

# Miner details needed for tracker-control
Path=/org/freedesktop/Tracker1/Miner/Extract
DisplayName=Extractor
DisplayName[as]=নিষ্কাষক
DisplayName[bg]=Извличаща програма
DisplayName[bs]=Koji izvlači
DisplayName[ca]=Extractor
DisplayName[ca@valencia]=Extractor
DisplayName[cs]=Extraktor
DisplayName[da]=Udtrækker
DisplayName[de]=Entdecker
DisplayName[el]=Εφαρμογή εξαγωγής
DisplayName[en_GB]=Extractor
DisplayName[es]=Extractor
DisplayName[eu]=Erauzlea
DisplayName[fr]=Extracteur
DisplayName[fur]=Estratôr
DisplayName[gl]=Extractor
DisplayName[hu]=Kinyerő
DisplayName[id]=Ekstraktor
DisplayName[it]=Estrattore
DisplayName[ko]=추출기
DisplayName[lt]=Išgavėjas
DisplayName[lv]=Izvilcējs
DisplayName[nb]=Uthenter
DisplayName[nl]=Uitpakprogramma
DisplayName[oc]=Extractor
DisplayName[pl]=Rozpakowywanie
DisplayName[pt]=Extrator
DisplayName[pt_BR]=Extrator
DisplayName[ru]=Экстрактор
DisplayName[sk]=Nástroj na extrahovanie
DisplayName[sl]=Preučevalnik
DisplayName[sr]=Извлачивач
DisplayName[sr@latin]=Izvlačivač
DisplayName[sv]=Extraherare
DisplayName[tr]=Ayıklayıcı
DisplayName[uk]=Екстрактор
DisplayName[vi]=Bộ trích xuất
DisplayName[zh_CN]=提取工具
DisplayName[zh_HK]=解譯器
DisplayName[zh_TW]=解譯器
Comment=Metadata extractor
Comment[as]=মেটাডাটা নিষ্কাষক
Comment[bg]=Програма извличаща метаданните
Comment[bs]=Ekstrakcija metapodataka
Comment[ca]=Extractor de metadades
Comment[ca@valencia]=Extractor de metadades
Comment[cs]=Vytahování metadat
Comment[da]=Metadataudtrækker
Comment[de]=Metadaten-Entdecker
Comment[el]=Εφαρμογή εξαγωγής μεταδεδομένων
Comment[en_GB]=Metadata extractor
Comment[es]=Extractor de metadatos
Comment[eu]=Meta-datuen erauzlea
Comment[fr]=Extracteur de métadonnées
Comment[fur]=Estratôr di meta-dâts
Comment[gl]=Metadatos do extractor
Comment[hu]=Metaadat-kinyerő
Comment[id]=Ekstraktor metadata
Comment[it]=Estrattore di metadati
Comment[ko]=메타데이터 추출기
Comment[lt]=Metaduomenų išgavėjas
Comment[lv]=Metadatu izvilcējs
Comment[nb]=Metadatauthenter
Comment[nl]=Metadata-uitpakprogramma
Comment[oc]=Extractor de metadonadas
Comment[pl]=Rozpakowywanie metadanych
Comment[pt]=Extrator de metadados
Comment[pt_BR]=Extrator de metadados
Comment[ru]=Экстрактор метаданных
Comment[sk]=Nástroj na extrahovanie metaúdajov
Comment[sl]=Preučevalnik metapodatkov
Comment[sr]=Извлачивач метаподатака
Comment[sr@latin]=Izvlačivač metapodataka
Comment[sv]=Metadataextraherare
Comment[tr]=Üstveri ayıklayıcı
Comment[uk]=Екстрактор метаданих
Comment[vi]=Bộ trích xuất siêu dữ liệu
Comment[zh_CN]=元数据提取工具
Comment[zh_HK]=元數據解譯器
Comment[zh_TW]=詮釋資料解譯器
